<div class='container'>
    <div class='submit'>
        <table>
            <caption>You submitted:</caption>

            <tr>
                <th>Street</th>
                <th>street 2</th>
                <th>City</th>
                <th>State</th>
                <th>zip</th>
            </tr>
            <tr>
                <td>{{street}}</td>
                <td>{{street2}}</td>
                <td>{{city}}</td>
                <td>{{state}}</td>
                <td>{{zip}}</td>
            </tr>
        </table>

    </div>
    <h2 class='no-result-text'>There is no upcoming election on your address.</h2>
    <button class='search-button' onclick="history.back()">Search again</button>
</div>